 
<!-- home.component.html -->
  <div class="card">
    <div class="card-header">
      Connected user information:
    </div>
    <div class="card-body">
      <div *ngIf="user">
        <p>ID: {{user.id}}</p>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.role.name}}</p>
        <strong>Permissions:</strong>
        <ul>
          <li *ngFor="let p of user.role.permissions">
            {{ p }}
          </li>
        </ul>
      </div>
      <p>Message: {{pubContent}}</p>
    </div>
  </div> 
