<div class="container-fluid">
<input type="file" (change)="onFileChange($event)" multiple="false" />
	<table class="sjs-table">
		<tbody>
      <tr *ngFor="let row of data">
			<td *ngFor="let val of row">
				{{val}}
			</td>
		</tr>
    </tbody>
	</table>
</div>
<!-- <button (click)="export()">Export!</button> -->
<!--
<div class="card">
    <div class="card-header">
      Connected user information:
    </div>
    <div class="card-body">
     
  <div *ngIf="user">
        <p>ID: {{user.id}}</p>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.role.name}}</p>
        <strong>Permissions:</strong>
        <ul>
          <li *ngFor="let p of user.role.permissions">
            {{ p }}
          </li>
        </ul>
      </div>
      <p>Message: {{pubContent}}</p>  
    </div>
  </div>-->
